div.row#payment-history-wrapper {
    margin-bottom: 50px;
}

@media screen {
    div.row#payment-history-wrapper {
        margin-top: 50px;
    }
}

@media print {
    body,
    html {
        background: #fff;
    }
    
    nav#app-header-nav {
        display: none;
    }

    div#app-title-block {
        display: none;
    }

    div#collect-payment-wrapper {
        display: none;
    }

    div.row#invoice-body-wrapper {
        page-break-after: always;
    }
}