<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/_layout}">
    <head>
        <title th:text="'Clients - Edit (' + ${viewModel.client.name} + ')'"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <form th:action="'/client/' + ${viewModel.client.id} + '/edit'" th:object="${viewModel}" method="POST" class="form bg-white text-dark rounded p-4 mb-4">
                            <input id="client.id" name="client.id" type="hidden" th:value="${viewModel.client.id}" />
                            <input id="client.mailingAddress.id" name="client.mailingAddress.id" type="hidden" th:value="${viewModel.getMailingAddressId()}" />
                            <div class="row">
                                <div class="col-12">
                                    <h2>
                                        Edit Client
                                        <small class="text-muted" th:text="${viewModel.client.name}"></small>
                                    </h2>
                                </div>
                            </div>
                            <div th:replace="~{client/_edit-form}"></div>
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-check"></i>&nbsp;Save</button>
                                    <a th:href="'/client/' + ${viewModel.client.id} + '/details'" class="btn btn-lg btn-danger"><i class="fa fa-times"></i>&nbsp;Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>