<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/_layout}">
    <head>
        <title>Clients</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2>Clients</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div th:if="${clients.isEmpty()}">
                            <p class="alert alert-warning"><i class="fa fa-warning"></i> There are currently no clients to show. <a href="/client/create">Create a client now.</a></p>
                        </div>
                        <div th:unless="${clients.isEmpty()}">
                            <div class="row pb-3">
                                <div class="col-12">
                                    <a href="/client/create" class="btn btn-lg btn-success"><i class="fa fa-plus"></i> New Client</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-condensed table-striped bg-light">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="client : ${clients}" th:data-id="${client.id}">
                                                <td th:text="${client.name}"></td>
                                                <td th:text="${client.email}"></td>
                                                <td class="text-right">
                                                    <a th:href="@{/client/{id}/edit(id=${client.id})}" class="btn btn-sm btn-dark">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    <a th:href="@{/client/{id}/delete(id=${client.id})}" class="btn btn-sm btn-danger delete-client-button">
                                                        <i class="fa fa-times"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>