<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/_layout}">
    <head>
        <title>404 - Not Found</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger">
                            <i class="fa fa-times"></i>
                            An unexpected error occurred. Please try again later. If the problem persists, contact support.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>