<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head></head>
    <body>
        <div class="modal-dialog text-dark" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span th:text="${viewModel.getHeaderActionName()} + ' Payment'"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <label for="client">Client</label>
                        <input
                            type="hidden"
                            id="edit-payment-client-id"
                            th:value="${viewModel.clientId.isPresent() ? viewModel.clientId.get() : ''}" />
                        <input
                            type="text"
                            id="client"
                            class="form-control form-control-sm"
                            th:value="*{viewModel.clientName}"
                            disabled="disabled" />
                    </div>
                </div>
                <div class="row form-group" th:if="${viewModel.hasInvoice()}">
                    <div class="col-12">
                        <label for="invoice">Invoice</label>
                        <input
                            type="hidden"
                            id="edit-payment-invoice-id"
                            th:value="${viewModel.invoiceId.isPresent() ? viewModel.invoiceId.get() : ''}" />
                        <input
                            type="text"
                            id="invoice"
                            class="form-control form-control-sm"
                            th:value="*{viewModel.invoiceNumber}"
                            disabled="disabled" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <label for="amount">Amount <span class="text-danger">*</span></label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input
                                type="text"
                                id="amount"
                                class="form-control form-control-sm"
                                th:value="${viewModel.payment.amount}" />
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <label for="date-collected-input">Date Collected <span class="text-danger">*</span></label>
                        <div class="input-group date date-time-picker dt-default" id="date-collected" data-target-input="nearest">
                            <input type="text" id="date-collected-input" class="form-control form-control-sm datetimepicker-input" data-target="#date-collected"/>
                            <div class="input-group-append" data-target="#date-collected" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <label for="notes">Notes</label>
                        <textarea
                            type="text"
                            id="notes"
                            class="form-control form-control-sm"
                            rows="2"
                            th:value="${viewModel.payment.notes}"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok-button"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
            </div>
        </div>
    </body>
</html>