<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Studio Admin Toolkit</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/application.css}">

        <script type="text/javascript" src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/popper.js/1.14.6/umd/popper.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header th:insert="~{shared/_header}"></header>
        <div class="container-fluid mb-4">
            <div class="row">
                <div class="col-12">
                    <h1>Studio Admin Toolkit</h1>
                </div>
            </div>
        </div>
        <th:block layout:fragment="content"></th:block>
    </body>
</html>