<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" th:inline="javascript">
            $('document').ready(() => {
                var $btnNewLineItem = $('button#btn-new-line-item');
                var $lineItems = $('table#line-items');

                var $btnDropdown = $('<div class="dropdown">');
                var $dropdownMenu = $('<div class="dropdown-menu">')
                    .append('<a class="dropdown-item btn-line-item-from-product" href="#"><i class="fa fa-copy"></i> From Product</a>')
                    .append('<a class="dropdown-item btn-line-item-delete" href="#"><i class="fa fa-times"></i> Delete</a>');
                var $btnLineItemMenu = $('<button class="btn btn-dark" type="button" data-toggle="dropdown"><i class="fa fa-bars"></i></button>');
                $btnDropdown.append($btnLineItemMenu);
                $btnDropdown.append($dropdownMenu);

                $btnNewLineItem.on('click', function () {
                    var newIndex = $('.line-item-row').length;
                    alert(newIndex);
                    var nameBase = `invoice.lineItems[${newIndex}]`;
                    
                    var $newLineItem = $('<tr class="line-item-row">');
                    $newLineItem.append($('<td>').append($btnDropdown.clone()));
                    $newLineItem.append($('<td>').append($(`<input type="text" class="form-control form-control-sm" name="${nameBase}.quantity" value="1" />`)));
                    $newLineItem.append($('<td>').append($(`<input type="text" class="form-control form-control-sm" name="${nameBase}.name" />`)));
                    $newLineItem.append($('<td>').append($(`<input type="text" class="form-control form-control-sm" name="${nameBase}.description" />`)));
                    $newLineItem.append($('<td class="form-check text-center">').append($(`<input type="checkbox" checked="true" name="${nameBase}.isBillable" />`)));
                    $newLineItem.append($('<td>').append($(`<input type="text" class="form-control form-control-sm" value="0.00" name="${nameBase}.unitPrice" />`)));
                    $lineItems.find('tbody').append($newLineItem);
                });

                $lineItems.on('click', 'a.btn-line-item-from-product', function (e) {
                    e.preventDefault();
                    var $lineItemRow = $(this).closest('tr.line-item-row');
                });

                $lineItems.on('click', 'a.btn-line-item-delete', function (e) {
                    e.preventDefault();
                    var $lineItemRow = $(this).closest('tr.line-item-row');
                    $lineItemRow.remove();
                })
            });
        </script>
    </head>
    <body>
        <div id="line-items-container">
            <div class="row form-group">
                <div class="col-12">
                    <table class="table table-sm table-condensed" id="line-items">
                        <thead>
                            <th style="width: 5%"></th>
                            <th style="width: 10%">Qty</th>
                            <th style="width: 20%">Name</th>
                            <th style="width: 30%">Description</th>
                            <th style="width: 10%">Billable?</th>
                            <th style="width: 15%">Unit Price</th>
                        </thead>
                        <tbody>
                            <tr th:each="lineItem, itemStat : ${viewModel.invoice.lineItems}" class="line-item-row">
                                <td>
                                    <input type="hidden" th:name="|viewModel.invoice.lineItems[__${itemStat.index}__].id|" th:value="${lineItem.id}" />
                                    <div class="dropdown">
                                        <button class="btn btn-dark" type="button" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn-line-item-from-product" href="#"><i class="fa fa-copy"></i> From Product</a>
                                            <a class="dropdown-item btn-line-item-delete" href="#"><i class="fa fa-times"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        class="form-control form-control-sm"
                                        th:name="|viewModel.invoice.lineItems[__${itemStat.index}__].quantity|"
                                        th:field="*{invoice.lineItems[__${itemStat.index}__].quantity}"
                                        th:classappend="${#fields.hasErrors('invoice.lineItems[__${itemStat.index}__].quantity')} ? is-invalid : ''" />
                                </td>
                                <td>
                                        <input
                                        type="text"
                                        class="form-control form-control-sm"
                                        th:name="|viewModel.invoice.lineItems[__${itemStat.index}__].name|"
                                        th:field="*{invoice.lineItems[__${itemStat.index}__].name}"
                                        th:classappend="${#fields.hasErrors('invoice.lineItems[__${itemStat.index}__].name')} ? is-invalid : ''" />
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        class="form-control form-control-sm"
                                        th:name="|viewModel.invoice.lineItems[__${itemStat.index}__].description|"
                                        th:field="*{invoice.lineItems[__${itemStat.index}__].description}"
                                        th:classappend="${#fields.hasErrors('invoice.lineItems[__${itemStat.index}__].description')} ? is-invalid : ''" />
                                </td>
                                <td class="text-center">
                                    <input
                                        type="checkbox"
                                        th:name="|viewModel.invoice.lineItems[__${itemStat.index}__].isBillable|"
                                        th:field="*{invoice.lineItems[__${itemStat.index}__].isBillable}" />
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        class="form-control form-control-sm"
                                        th:name="|viewModel.invoice.lineItems[__${itemStat.index}__].unitPrice|"
                                        th:field="*{invoice.lineItems[__${itemStat.index}__].unitPrice}"
                                        th:classappend="${#fields.hasErrors('invoice.lineItems[__${itemStat.index}__].unitPrice')} ? is-invalid : ''" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <button type="button" class="btn btn-dark" id="btn-new-line-item">
                        <i class="fa fa-plus"></i> New Row
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>